@font-face {
    font-family: Roboto;
    src: url(assets/Roboto/Roboto-Regular.ttf);
}

* {
    font-family: Roboto;
  }

/* Setting a responsive background image for our project  */

body { 
    background: url(assets/background.jpg);
    background-repeat:   no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
   
}

/* Improving the appearance of our input box */

.tbox{
    background-color: rgba(247, 243, 236, 0.1);
    border: 1px solid rgb(7, 7, 7);
    border-radius: 25px;
    height: 15px;
    width: 130px;
    font-size: small;
}

/* Defining a grid container to put our item in it.
   iIn order to be more responsive, I set sizes with percents */
.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: rgba(247, 243, 236, 0.1);
    width: 40%;
    height: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    border: 2px solid rgb(7, 7, 7);
    text-align: center;
}
/* Each item in our grid layout will have the following style. */
.grid-item {
    background-color: rgba(247, 243, 236, 0.1);
    padding-left: 40px;
    padding-top: 15px;
    border-radius: 25px;
    text-align: left;
  }

/* All below classes are for button color and style 
   also i changed its color on hover */
.button {
    background-color: rgba(247, 243, 236, 0.1);
    color: white;
    text-align: center !important;
    width: 80px;
    height: 30px;
    display: inline-block;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 15px;
    font-size: small;

  }
  .button5 {
    background-color: rgba(247, 243, 236, 0.1);
    color: black;
    border: 1px solid #141414;
  }
  
  .button5:hover {
    background-color: #141414;
    color: white;
  }
